@import url(https://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro&display=swap);

//Fonts
$title-font: 'Oswald', sans-serif;
$text-font: 'Source Sans Pro', sans-serif;

//Colors
$primary-color: #65fafb;
$secondary-color: #62c241;
$success-color: #faf76a;
$dark-color: #000000;
$light-color: #ffffff;
$danger-color: #fc859e;